@import '../../../variables.scss';

.column {
  padding: 0.1rem 0.3rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  cursor: default;
}

.columnActive {
  cursor: pointer;
}

.columnActive:hover {
  background-color: orange;
}